{{/* Get 'banner' from front matter, complete with default values */}}
{{- $banner := dict "caption" "" "href" "" "alt" (print "Header banner of '" .Page.Name "'") "page_href" (.page_href | default false) -}}
{{- if .Page.Params.banner -}}
  {{- $banner = merge $banner .Page.Params.banner -}}
{{- end -}}

{{/* Try to get banner as page resource */}}
{{- with .Page.Params.images -}}
  {{- $banner = merge $banner (dict "resource" (index . 0)) -}}
{{- else -}}
  {{- if eq $banner.page_href false -}}
    {{- with .Page.Site.Params.images -}}
      {{- $banner = merge $banner (dict "resource" (index . 0)) -}}
    {{- end -}}
    {{- with .Parent.Params.images -}}
      {{- $banner = merge $banner (dict "resource" (index . 0)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- with $banner.resource -}}
  {{- partial "banner-figure" $banner }}
{{- end -}}
