<header class="header header--main">
  {{ partial "banner" (dict "Page" .) }}

  <div class="container">
    <div class="header__metadata inline-list">
      {{ partial "datetime.html" . }}

      <div class="header__categories">
        {{- partial "taxonomies" (dict "Page" . "term" "categories") }}
      </div>
    </div>

    <h1 class="header__title">{{ .Title }}</h1>

    {{- $subtitle := .Params.subtitle | default "" -}}
      {{- with $subtitle }}
        <div class="header__subtitle metadata">{{ . | markdownify }}</div>
      {{- end }}
    {{- end }}
  </div>
</header>